body {
    font-family: Papyrus;
    background: black;
}

#content {
    
    width: 600px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #FFFFFF;
    border: 10px solid purple;
}

#field {
    width: 600px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #FFFFFF;
    border: 1px solid purple;
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    color: purple;
    font-weight: bold;
    text-align: center;
}

label {
    display: block;
    width: 20em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
    width: 100px;
}

#futureValue {
    color: #000000;
}

br {
    clear: left;
}